<div class="d-flex">
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-APP
    </h3>
    <div class="list-gorup-item list-reset">
      <a href="#"
      class="list-gorup-item list-gorup-item-action"
      >Dashboard</a>
    </div>
  </div>
  <!-- End Sidebar -->

  <div class="conainer">
    
    <div class="row p-3">
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </div>
    </div>

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus debitis harum ducimus! Maiores quibusdam deleniti modi excepturi! Excepturi dolorum in eos, rerum odio aspernatur nihil consequuntur, officiis illo itaque eaque!
      </div>
    </div>
  </div>
</div>